.subscribe-button {
  background-color: rgb(200,0,0);
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: rgb(50, 118, 211);
  border-color: rgb(50, 118, 211);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.15s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.join-button:hover {
  background-color: rgb(50, 118, 211);
  color: white;
}

.join-button:active {
  opacity: 0.75;
}

.tweet-button {
  background-color: rgb(70, 130, 220);
  color: white;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
